table {
    margin-top : 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea {
    resize: none;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.MainBody {
    width:60%;
}

.Layer {
    width: 15%;
    height: 100%;
    position: fixed;
    text-align: left;
    top: 0; 
    left: 0; 
}

.Menu {
    width : 60%;
    position : fixed;
    text-align: left;
    top : 0;
    left : 0;
    padding-top : 20px;
    padding-left : 20px;
}

.MenuPopup {
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.13); 
    border: 1px solid #e5e5e5; 
    position: absolute; 
    top: 0; 
    left: 0;
    border-radius: 5px; 
    box-shadow: 0 0 10px -4px;
    display: none;

    padding : 20px;
}

.MenuPopup div {
    margin-bottom : 30px;
}

.FlexContainer {
    display : flex;
}

.FlexContainer > div {
    margin : 25px;
}

.Posts {
    padding-top : 80px;
    margin: 5px;
}

.PostHead {
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border : 1px solid black;
}

.PostHead span {
    display: inline-block;
    font-size: 20px;
}

.PostBody {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding : 15px;
    text-align: left;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    border : 1px solid black;
}

.CreatePost {
    height: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.CreatePost input {
    width : 85%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.CreatePost textarea {
    width : 100%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Search {
    margin-top : 15px;
    margin-left: auto;
    margin-right: auto;
    text-align : right;
}

.Replies {
    margin-bottom: 10px;
}

.Write_reply {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Write_reply textarea{
    width : 100%;
}

.Download {
    text-align: right;
}

.pagination {
    justify-content: center; 
}

.form-control {
    width : 8%;
    display: inline;
}
